.cover {
    max-width: 1184px;
    max-height: 740px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../images/cover.jpg");
    margin: auto;
    margin-bottom: 92px;
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
}

.cover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #2A2C2F;
    opacity: 0.3;
    max-width: 1184px;
    max-height: 740px;
    width: 100%;
    height: 100%;
    display: block;
}

.cover:hover::before {
    background: #2A2C2F;
    opacity: 0.8;
}

.cover__list {
    position: relative;
    z-index: 101;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.cover__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* identical to box height, or 106% */
    text-align: center;
    color: #FFFDFD;
    text-align: center;
    margin: 0;
}

.cover__subtitle {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    text-align: center;
    color: #FFFFFF;
    text-align: center;
    width: 280px;
    margin: 0;
}

.cover__button {
    width: 137px;
    max-height: 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
    background: #0278FE;
    border-radius: 4px;
    padding: 13px 20px;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 768px;
        max-height: 746px;
        margin-bottom: 88px;
    }
    .cover::before {
        max-width: 768px;
        max-height: 746px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        max-width: 320px;
        max-height: 254px;
        margin-bottom: 64px;
    }
    .cover::before {
        max-width: 320px;
        max-height: 254px;
    }
    .cover__list {
        max-width: 288px;
        gap: 16px;
    }
    .cover__title {
        font-size: 32px;
        line-height: 35px;
    }
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
    }
}