.gallery {
    max-width: 1184px;
    margin: 0 auto 92px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.gallery__image {
    width: 100%;
    max-width: 284px;
}

@media screen and (max-width: 768px) {
    .gallery {
        max-width: 720px;
        margin: 0 24px 88px;
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery__image {
        max-width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .gallery {
        max-width: 288px;
        margin: 0 auto 62px;
        grid-template-columns: 1fr;
        gap: 12px;
    }
    .gallery__image {
        max-width: 288px;
    }
}