.header {
   width: 100%;
}

.header__logo {
position: absolute;
width: 270px;
height: 70px;
margin-left: 505px;
margin-top: 34px;
}

@media screen and (max-width: 768px) {

    .header__logo {
        margin-left: 249px;
    }
}
@media  screen and (max-width: 320px) {
    .header__logo {
        width: 200px;
        height: 51.85px;
        margin-left: 60px;
        margin-top: 20px;
    }
}
