.lead {
    max-width: 984px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.lead__title {
    max-width: 793px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    /* or 104% */
    text-align: center;
    color: #FFFFFF;
    margin: 90px auto 0;
}

.lead__subtitle {
    max-width: 720px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    /* or 120% */
    text-align: center;
    color: #FFFFFF;
    margin: 32px auto 64px;
}

.lead__image {
    max-width: 984px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 768px;
        margin-bottom: 88px;
    }
    .lead__title {
        max-width: 720px;
    }
    .lead__subtitle {
        margin-bottom: 36px;
    }
    .lead__image {
        max-width: 768px;
        max-height: 480px;
    }
}

@media screen and (max-width:540px) {
    .lead {
        margin: 0px 0px 64px;
    }
    .lead__title {
        margin: 50px auto 0;
        font-size: 51px;
        line-height: 1.05;
    }
    .lead__subtitle {
        max-width: 370px;
        font-size: 20px;
        margin: 32px auto 40px;
        line-height: 1.25;
    }
}

@media screen and (max-width: 480px) {
    .lead__title {
        max-width: 370px;
    }
    .lead__subtitle {
        max-width: 330px;
        font-size: 18px;
        line-height: 1.25;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        max-width: 320px;
    }
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
        margin-top: 50px;
    }
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        max-width: 288px;
        margin-top: 16px;
        margin-bottom: 40px;
    }
    .lead__image {
        max-width: 320px;
    }
}