.lead {
    position: relative;
    max-width: 984px;
    padding: 91px 148px 92px 148px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.lead__title {
    width: 793px;
    height: 200px;
    padding: 91px 96px 32px 95px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    /* or 104% */
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.lead__subtitle {
    width: 720px;
    height: 72px;
    padding-left: 132px;
    padding-right: 132px;
    padding-bottom: 64px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    /* or 120% */
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.lead__image {
    max-width: 984px;
}

@media screen and (max-width: 768px) {
    .lead {
        padding: 194px 0 88px 0;
        max-width: 768px;
        margin: auto;
    }
    .lead__title {
        width: 720px;
        height: 300px;
        padding: 0 24px 32px;
    }
    .lead__subtitle {
        padding: 0 24px 36px;
    }
    .lead__image {
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        max-width: 320px;
        padding: 122px 0 64px 0;
    }
    .lead__title {
        width: 288px;
        height: 132px;
        padding: 0 16px 16px 16px;
        font-size: 40px;
        line-height: 44px;
    }
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        width: 288px;
        height: 40px;
        padding: 0 16px 40px 16px;
    }
    .lead__image {
        max-width: 320px;
    }
}