.content {
    max-width: 1280px;
    padding: 0;
    margin: 0;
}

@media  screen and (max-width: 768px) {
    .content {
        max-width: 768px;
    }
    
}

@media screen and (max-width: 320px) {
    .content {
        max-width: 320px;
    }
}