.place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "title artist" "image paragraph" "button paragraph";
    column-gap: 40px;
    row-gap: 48px;
}

.place__title {
    grid-area: title;
    max-width: 460px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    color: #FFFFFF;
    margin: 0;
}

.place__link-container {
    display: flex;
    flex-direction: column;
}

.place__artist {
    grid-area: artist;
    width: 50px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #AAAAAA;
    padding-bottom: 8px;
    margin: 0;
}

.place__artist-name {
    grid-area: artist;
    max-width: 456px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 8px;
}

.place__image {
    grid-area: image;
    margin: 0;
    width: 100%;
}

.place__text-container {
    grid-area: paragraph;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.place__paragraph {
    max-width: 484px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    /* or 163% */
    color: #FFFFFF;
    margin: 0;
    padding-bottom: 25px;
}

.place__button {
    grid-area: button;
    max-width: 248px;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
    background: #0278FE;
    border-radius: 4px;
    border: none;
    text-align: center;
    padding: 13px 20px;
    text-decoration: none;
    max-height: 24px;
}

.place__button:hover {
    background: #0063D2;
}

@media screen and (max-width: 768px) {
    .place {
        max-width: 720px;
        column-gap: 28px;
    }
    .place__title {
        max-width: 340px;
        font-size: 42px;
        line-height: 46px;
    }
    .place__artist-name {
        max-width: 316px;
    }
    .place__paragraph {
        max-width: 352px;
        font-size: 16px;
    }
}

@media screen and (max-width: 320px) {
    .place {
        max-width: 320px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .place__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        padding-left: 16px;
    }
    .place__artist {
        max-width: 288px;
        padding-left: 16px;
    }
    .place__artist-name {
        max-width: 288px;
        padding-left: 16px;
        padding-bottom: 0;
    }
    .place__paragraph {
        max-width: 288px;
        padding-left: 16px;
    }
    .place__button {
        max-width: 208px;
        padding: 13px 40px;
        margin: auto;
    }
}